
.toggleTrue {
    font: inherit;
    background-color: #a50e11;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-bottom: 30px;
    border: 1px solid #a50e11;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 5px;
}

.toggleFalse {
    font: inherit;
    background-color: #8ab15b;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-bottom: 30px;
    border: 1px solid #8ab15b;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 5px;
}