.accordion {
    width: 900px;
}

.item {
    background: #ffcdd2;
    margin-bottom: 10px;
    padding: 30px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.titletext {
    color: #f50057;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}